// Woof format/////////////////////////////////////////////////////////////////////////////////////////

// Aeonik

@font-face {
    font-family: "Aeonik-Thin";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Aeonik/Aeonik-Thin.woff") format("woff"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
    font-family: "Aeonik-Thin-Italiik";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Aeonik/Aeonik-ThinItalic.woff") format("woff"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
    font-family: "Aeonik-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Aeonik/Aeonik-Regular.woff") format("woff"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
    font-family: "Aeonik-Regular-Italiik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Aeonik/Aeonik-RegularItalic.woff") format("woff"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
    font-family: "Aeonik-Medium";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Aeonik/Aeonik-Medium.woff") format("woff"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
    font-family: "Aeonik-Medium-Italiik";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Aeonik/Aeonik-MediumItalic.woff") format("woff"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
    font-family: "Aeonik-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Aeonik/Aeonik-Bold.woff") format("woff"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
    font-family: "Aeonik-Bold-Italiik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Aeonik/Aeonik-BoldItalic.woff") format("woff"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

// Product Sans

@font-face {
    font-family: "Product-Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ProductSans/ProductSans-Regular.woff") format("woff"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}



// Woff2 format///////////////////////////////////////////////////////////////////////////////////////////


// Aeonik
@font-face {
    font-family: "Aeonik-Thin";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Aeonik/Aeonik-Thin.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
    font-family: "Aeonik-Thin-Italiik";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Aeonik/Aeonik-ThinItalic.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
    font-family: "Aeonik-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Aeonik/Aeonik-Regular.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
    font-family: "Aeonik-Regular-Italiik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Aeonik/Aeonik-RegularItalic.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
    font-family: "Aeonik-Medium";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Aeonik/Aeonik-Medium.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
    font-family: "Aeonik-Medium-Italiik";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Aeonik/Aeonik-MediumItalic.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
    font-family: "Aeonik-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Aeonik/Aeonik-Bold.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
    font-family: "Aeonik-Bold-Italiik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Aeonik/Aeonik-BoldItalic.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}


// Product Sans

@font-face {
    font-family: "Product-Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ProductSans/Product-Sans-Regular.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
